body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.janus-video{
  width: 500px;
  height: 500px;
}

.video-react.video-react-fluid, .video-react.video-react-16-9, .video-react.video-react-4-3 {
    width: 100%;
    max-width: 100%;
    height: 0;
}
.video-react .video-react-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-react {
    display: block;
    vertical-align: top;
    box-sizing: border-box;
    color: #fff;
    background-color: #000;
    position: relative;
    font-size: 10px;
    line-height: 1;
    font-family: serif, Times, "Times New Roman";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.janus-video-container{
  background-color: #000;
  width: 100%;
}
.janus-video-container .video-react.video-react-fluid {
  padding-top: 62.5% !important
}
.janus-video-player{
  width: 100%;
  height: 300px;
}

.janus-video-status{
  width: 100%;
  position: absolute;
  z-index: 100;
  height: 20px;
  padding-right: 10px;
  padding-top: 5px;
  text-align: right;
  color: #fff;
  font-size: 12px;
}

.janus-video-controls{
  height: 40px;
  background-color: #333;
  display: flex;
  flex-direction: row;
  padding-left:10px;
  padding-top: 5px;
}

.janus-btn{
  font-size: 12px;
  margin-right: 10px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  height: 20px;
  padding: 5px;
  line-height: 20px;
}

.janus-btn:hover{
  cursor: pointer;
  background-color: #0000009a;
}

.janus-select{
  margin-left: auto;
  padding-right: 10px;
  padding-top: 3px;
}

.janus-select select{
  background-color: #0c71a0;
  color: #fff;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  /* height: 50px; */
  appearance: none;
  /* line-height: 50px */
}

.janus-select select:focus{
  outline: none;
}